#frm {
    /* center form */
    text-align: center;
    margin-top: 120px;
}
#lbel {
    /* label */
    font-family: "new-order", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    color: #f0f8ff;
}
#site-search{
    /* input */
    margin-top: 50px;
    background-color: #534a4ab6;
    border-radius: 10px;
}
body{
    /* backgroud image */
    background-image: url(../images/background.jpeg);
    background-size: 120%;
}
input[type="search"] {
    /* input type change typing text*/
    color: #f8d7d7;
    font-size: 20px;
    line-height: 1;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-left: 10px;
    
}
input[type="search"]::placeholder {
    /* input type change value displayed text */
    color: #000000;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
#title{
    /* display result title */
    text-align: center;
    color: #f0f8ff;
    margin-top: 80px;
    font-family: "new-order", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: #f0f8ff;
}
#songs{
    /* the result */
    text-align: center;
    color: #f0f8ff;
    margin-top: 40px;
    font-family: "new-order", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: #f8d7d7;
}

